AI_NEWS_API_KEY=
AI_NEWS_AUTH_HEADER=x-api-key
AI_NEWS_AUTH_SCHEME=
IMAGE_GEN_BASE_URL=http://192.168.50.7:8008
IMAGE_GEN_DEFAULT_ENGINE=qwen
PARKER_BASE_URL=http://192.168.50.175:8086
PARKER_DEFAULT_CORPUS_LIMIT=8
PARKER_DEFAULT_RERANK=true
